<%= render partial: 'navbar/navbar' %>
<div class="blog-space">
  <div class="index-info">
    <h1>
    <div data-controller="typing-animation" data-typing-animation-target="text">
      <%= "Welcome to my blog"%>
    </h1>
      <p>Welcome to my blog. A creative space where I share my thoughts on things that interest me.</p>
  </div>
</div>

<div class="blog-index">
  <% if @blog_posts.present? %>
    <% @blog_posts.each do |blog_post| %>
      <%= link_to blog_post_path(blog_post), class: "blog-link" do %>
        <div class="blog-card" data-controller="blog-card" data-id="<%= blog_post.id %>">
          <%= image_tag blog_post.photo, width: 280, height: 280, fit: :fill, alt: "image relating to the blog" %>
          <br>
          <h2><strong><%= blog_post.title %></strong></h2>
          <p><%= truncate(blog_post.body, length: 150) %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p id="empty-blog">No blog posts available.</p>
  <% end %>
</div>

  <div class="page-changer">
    <div class="pagination">
      <%= paginate @blog_posts%>
    </div>
  </div>

  <% if can_edit? %>
    <%= link_to 'New Blog Post', new_blog_post_path, class: "btn btn-primary" %>
    <%= link_to "Log out", destroy_admin_session_path, data: {turbo_method: :delete}%>
  <% end %>

<footer>
    &copy; 2024 Alexandra Leballeur
</footer>
